body {
  background-color: #333;
  color: #fff;
}

.character {
  display: table-cell;
  border: 1px solid #3B3B3B;
  background-color: rgba(29, 23, 33, 0.7);
  border-radius: 6px;
}

.app {
  background-image: url(../img/sw-bg1.png);
  background-size: cover;
  /*max-width: 700px;*/
  height: 100vh;
  overflow: hidden;
}

.navigation {
  width: 100%;
  background-color: rgba(24, 20, 28, 0.8);
}

.content {
  margin-top: 60px;
  padding: 0.5em;
}

.logo {
  max-width: 100px;
  padding: 0.5em;
}

.modal-result {
  background-image: url(../img/modal-bg.jpg);
  background-size: cover;
}

.row-table {
  display: table;
}

.col-cell {
  display: table-cell;
}