body {
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.character {
  width: 32%;
  margin: 0.65%;
  padding: 0.3em 0.2em 0.5em 0.2em;
  border: 1px solid #3B3B3B;
  background-color: rgba(29, 23, 33, 0.7);
  border-radius: 6px;
}

.app {
  background-image: url(../img/sw-bg1.png);
  background-size: cover;
  /*max-width: 700px;*/
  height: 100vh;
  overflow: hidden;
}

.navigation {
  width: 100%;
  background-color: rgba(24, 20, 28, 0.8);
}

.content {
  margin-top: 60px;
  padding: 0.5em;
}

.logo {
  max-width: 100px;
  padding: 0.5em;
}

.modal-result {
  background-image: url(../img/modal-bg.jpg);
  background-size: cover;
}

.loading {
  width: 50%;
  margin: auto;
}


.submenu ul {
  padding: 0;
}

.submenu ul li {
  font-size: 1.2em;
  padding: .2em .8em;
  list-style-type: none;
  display: inline-block;
}

.submenu a {
  color: #e1e1e1;
    text-decoration: none;
    text-shadow: 1px 1px #1d1722;
}

.row-table {
  padding: 0.5em;
}